# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Ignore BUILD dir
BUILD/
BIN/
CMakeLists.txt.*
Makefile
*.pro.user*
.*
DATA/
